html, body{
  background: rgb(79, 203, 235);
  color: #2f3138;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}
h1{
  color: #fff;
}
#sky{
  background: rgb(79, 203, 235);
  height: 58%;
  width: 100%;
}
#grass{
  background: rgb(109, 206, 80);
  height: 42%;
  width: 100%;
}