html, body{
  background: rgb(79, 203, 235);
  color: #2f3138;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}
h1{
  position:absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  z-index: 42069;
  color: #fff;
  font-style: italic;
  font-size: 50px;
  text-align: center;
  text-shadow: 4px 5px black;
  transition: font-size 2s;
  transition-timing-function: ease-out;
}
h1:hover{
  font-size: 69px;
}

#sky{
  background: rgb(79, 203, 235);
  height: 58%;
  width: 100%;
}
#grass{
  background: rgb(109, 206, 80);
  height: 42%;
  width: 100%;
}

#sun {
  position: absolute;
  width: 20%;
  height: auto;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  animation: rotation 90s infinite linear;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
